[class*="svg-"] { font-size: 20px; position: relative;

	&:before { content: ''; display: block; }

	svg { position: absolute; left: 0; top: 0; width: 100%; height: 100%; }

}

.svg-socials-facebook { width: calc(24/20 * 1em);

	&:before { padding-bottom: calc(24 / 24 * 100%); }

}

.svg-socials-instagram { width: calc(24/20 * 1em);

	&:before { padding-bottom: calc(24 / 24 * 100%); }

}

.svg-socials-twitter { width: calc(24/20 * 1em);

	&:before { padding-bottom: calc(24 / 24 * 100%); }

}

